/* global */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* reset CSS */
*{
    margin:0;
    padding: 0;
    border: 0;
    font-family:arial;
    font-size: 18px;
    font-weight:300;
    background: none;
    list-style: none;
}
/* /reset CSS */


h1{
    font-size: 24px;
    font-weight: 700;
}

/* /global */


/* header */
header{
    
}
header section{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
header nav{
    margin-bottom: 10px;
}
header nav.hamburguer{

}
header nav.hamburguer button span{
    display: block;
    width: 40px;
    height: 4px;
    background: #000;
    margin-bottom: 6px;
}

header nav.tools ul{
    display: flex;
}
header nav.tools ul a{
    padding: 6px;
    color: #000;
    text-decoration: none;
}


header #logo{
    width: 371px;
    margin-bottom: 10px;
    display:block;
    background: white;
}
header #logo img{
    width: 100%;
    
}
/* header */

main{
    background: #000;
    height: 100px;
}
footer{
    background: blue;
    height: 100px;
}